@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, 'Geneva', Tahoma, Sans-serif;
    --fonte2: 'Passion One', 'cursive';
    --fonte3: 'Sriracha', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

header {
    background-color: black;
}
header > h1 {
    font-family: var(--fonte2);
    font-size: 7vw;
    color: white;
    text-align: center;
    padding-top: 50px;
}
header a:hover {
    text-decoration: underline;
}

header a {
    color: white;
    font-weight:bold;
    text-decoration: none;
}

header p {
    font-weight: normal;
    font-size: 1em;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-family: var(--fonte1);
    
}

section {
    display: block;
    unicode-bidi: isolate;
    background-color: white;
    padding: 20px;
}


section > p {
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: var(--fonte3);
    font-size: 3vw;
    padding: 50px 0px 0px 30px
}

section#secimg01 {

background-image: url('imagens/joaninha3.jpeg');
background-repeat: no-repeat;
position: relative;
background-position: center;
background-size: cover;
background-attachment: fixed;
padding: 1vw;
}

section#secimg01 > p {
    size: 20vw;
    padding: 30px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    margin:20px;
}

section#secimg02 {

    background-image: url('imagens/folhas.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-position: fixed;
    background-size: cover;
    background-attachment: fixed;
    padding: 1vw;
    }

    section#secimg02 > p {
        size: 20vw;
        padding: 30px;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.377);
        color: white;
        margin:20px;
    }

    footer {
        background-color: black;
        padding: 3px;
    }

    footer > p {
        font-family: var(--fonte1);
        font-size: 0.9em;
        color: white;
        text-align: center;
        padding: 3px;
    }

    footer a {
        color: white;
    }

    footer a:hover {
        text-decoration: underline;
    }